<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/resources_hospital.css">
    <title>Medical Statistics</title>
</head>
<body id = "IHR">
    <TABLE BORDER="5"    WIDTH="100%"   CELLPADDING="4" CELLSPACING="3">
        <TR>
           <TH COLSPAN="2" class = "allColumns"><BR><H3>Medical Statistics of XYZ Hospital</H3>
           </TH>
        </TR>
        <TR  class = "allColumns">
           <TH >Resource</TH>
           <TH>Quantity/Availability</TH>
        </TR>
        <TR class = "allData" ALIGN="CENTER">
           <TD>Number of Vacant Bed</TD>
           <TD>4</TD>
        </TR>
        <TR class = "allData" ALIGN="CENTER">
            <TD>Number of admit Patients</TD>
            <TD>30</TD>
         </TR>
         <TR class = "allData" ALIGN="CENTER">
            <TD>Number of Oxygen Cylinders</TD>
            <TD>4</TD>
         </TR>
         <TR class = "allData" ALIGN="CENTER">
            <TD>All Essential Medicins</TD>
            <TD>Availabe</TD>
         </TR>
         <TR class = "allData" ALIGN="CENTER">
            <TD>DayCare Facilities</TD>
            <TD>Availabe</TD>
         </TR>
     </TABLE>
</body>
</html>