<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Central Medical Vault for Insurance</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./../static/insurance_home.css" />
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="logo">
          <img
            src="https://drive.google.com/thumbnail?id=1VWjCXgibmcCG2n0_uxMj0lDH7gp_bK7-"
            id="logoImage"
            alt=""
          />
          <h2 id="logoHeading">Central Medical Vault for ABC Insurance</h2>
        </div>
        <ul class="nav-area">
          <li><a href="https://20.193.232.239:5000/insurance/login">Home</a></li>
          <li>
            <a href="https://20.193.232.239:5000/insurance/request"
              >View Open Requests</a
            >
          </li>
          <li>
            <a href="https://20.193.232.239:5000/insurance/approveRequest"
              >Approve Claims</a
            >
          </li>
          <!-- <li><a href="http://127.0.0.1:5000/patient/diagnosedreports">Diagnosed Reports</a></li>
<li><a href="http://127.0.0.1:5000/patient/claim">Insurance Claim</a></li> -->
          <!-- <li><a href="#">Claim</a></li> -->
        </ul>
      </div>
      <div class="welcome-text">
        <h1><span>Health</span> is Wealth</h1>
        <!-- <a href="http://127.0.0.1:5000/doctor/medicalstatistics">XYZ Medical Statistics</a> -->
      </div>
    </header>
  </body>
</html>
