<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/resources_hospital.css">
    <title>Medical Statistics</title>
</head>
<body id = "RH">
    <TABLE BORDER="5"  width = "100%"   CELLPADDING="4" CELLSPACING="3">
        <TR>
           <TH class = "allColumns" COLSPAN="7"><BR><H3>Medical Statistics</H3>
           </TH>
        </TR>
        <TR class = "allColumns">
           <TH>Hospital Name</TH>
           <TH>Hospital Type</TH> 
           <TH>Number of vacant Beds</TH>
           <TH>Number of admit Patients</TH>
           <TH>All Essential Medicins</TH>
           <TH>No. of Oxygen Cylinders</TH>
           <TH>DayCare Facilities</TH>
        </TR>
        <TR class = "allData" ALIGN="CENTER">
           <TD>ABC</TD>
           <TD>Private</TD>
           <TD>5</TD>
           <TD>25</TD>
           <TD>Available</TD>
           <TD>7</TD>
           <TD>Available</TD>
        </TR>
        <TR class = "allData" ALIGN="CENTER">
            <TD>XYZ</TD>
            <TD>Government</TD>
            <TD>4</TD>
            <TD>30</TD>
           <TD>Available</TD>
           <TD>4</TD>
           <TD>Available</TD>
         </TR>
         <TR class = "allData" ALIGN="CENTER">
            <TD>PQR</TD>
            <TD>Government</TD>
            <TD>6</TD>
            <TD>45</TD>
           <TD>Shortage</TD>
           <TD>4</TD>
           <TD>Not Available</TD>
         </TR>
         <TR  class = "allData" ALIGN="CENTER">
            <TD>MNO</TD>
            <TD>Private</TD>
            <TD>0</TD>
            <TD>55</TD>
           <TD>Availale</TD>
           <TD>2</TD>
           <TD>Available</TD>
         </TR>
     </TABLE>
</body>
</html>